.error{
    color:#e85347;
}

input.ng-invalid.ng-touched{
    border-right: 5px solid #e85347;
}

input.ng-valid{
    border-right: 5px solid #19bc90;

}

select.ng-invalid.ng-touched{
    border-right: 5px solid #e85347;
}

select.ng-valid{
    border-right: 5px solid #19bc90;

}








