<div class="nk-content-inner">
    <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">  {{ is_edit ? 'Edit' : 'Add' }} Service</h3>
                   
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle-expand mr-n1" (click)="showmobile()"><em class="icon ni ni-menu-alt-r"></em></a>
                        <div class="toggle-expand-content" [style.display]="mobileexport">
                            <ul class="nk-block-tools g-3">
                                <li><a routerLink="/service/listservice" class="btn btn-white btn-outline-light"><span>Services List</span></a></li>
                                
                            </ul>
                        </div>
                    </div><!-- .toggle-wrap -->
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->

        <!-- ----------------------- -->
        
        <div class="components-preview wide-md mx-auto">
            
          
            <div class="nk-block nk-block-lg">
                <!-- Message -->
                <div *ngIf="message"  class="alert {{ status ? 'alert-success':'alert-danger' }} alert-icon alert-sm">
                    <em class="icon ni {{ status ? 'ni-check-circle':'ni-cross-circle' }}"></em> <strong>{{ status ? 'Success.':'Error!' }}</strong> {{message}}
                 </div>
                <div class="card card-bordered">
                    <div class="card-inner">
                        <div class="card-head">
                            
                        </div>
                        <form [formGroup]="serviceform" (ngSubmit)="is_edit ? update_service() : create_service()">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label" for="full-name-1">Service Name</label>
                                        <div class="form-control-wrap">
                                            <input type="text" class="form-control" formControlName="service" placeholder="Enter service name">
                                        </div>
                                        <span class="error" *ngIf="service && service.invalid && service.touched">Enter service name</span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-label" for="email-address-1">Status</label>
                                        <div class="form-control-wrap">
                                            <div class="form-control-select">
                                                <select class="form-control" formControlName="is_status" >
                                                    <option value="" selected disabled> Select status</option>
                                                    <option value="active">Active</option>
                                                    <option value="inactive">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                        <span class="error" *ngIf="is_status && is_status.invalid && is_status.touched">Select Role</span>

                                    </div>
                                </div>
                               
                                <div class="col-12" *ngIf="!is_edit;else updatebtn">
                                    <div class="form-group float-right">
                                        <a routerLink="/service/listservice" class="btn btn-sm btn-light mr-2">Cancel</a>
                                        <button type="submit" [disabled]="!serviceform.valid" class="btn btn-sm btn-primary">Create service</button>
                                    </div>
                                </div>
                                <ng-template #updatebtn>
                                    <div class="col-12" >
                                        <div class="form-group float-right">
                                            <a routerLink="/service/listservice" class="btn btn-sm btn-light mr-2">Cancel</a>
                                            <button type="submit" [disabled]="!serviceform.valid" class="btn btn-sm btn-success">Update service</button>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!-- .nk-block -->
           
        </div><!-- .components-preview -->






        <!-- ----------------------------------- -->
    </div>
</div>