<div class="nk-content-inner">
    <div class="nk-content-body">
        <div class="nk-block-head nk-block-head-sm">
            <div class="nk-block-between">
                <div class="nk-block-head-content">
                    <h3 class="nk-block-title page-title">Users Lists</h3>
                    <div class="nk-block-des text-soft">
                        <p>You have total {{count}} users.</p>
                    </div>
                </div><!-- .nk-block-head-content -->
                <div class="nk-block-head-content">
                    <div class="toggle-wrap nk-block-tools-toggle">
                        <a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle-expand mr-n1" (click)="showmobile()"><em class="icon ni ni-menu-alt-r"></em></a>
                        <div class="toggle-expand-content" data-content="pageMenu" [style.display]="mobileexport">
                            <ul class="nk-block-tools g-3">
                                <li><a class="btn btn-primary text-light" routerLink="/user/adduser"><span> + Add</span></a></li>

                                <li><a href="javascript:void(0);" class="btn btn-white btn-outline-light"><em class="icon ni ni-download-cloud"></em><span>Export</span></a></li>
                                <li class="nk-block-tools-opt">
                                    <div class="drodown">
                                        <a href="javascript:void(0);" class="dropdown-toggle btn btn-icon btn-primary" (click)="get_user()"><em class="icon ni ni-reload"></em></a>
                        
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!-- .toggle-wrap -->
                </div><!-- .nk-block-head-content -->
            </div><!-- .nk-block-between -->
        </div><!-- .nk-block-head -->
        <div *ngIf="message"  class="alert {{ status ? 'alert-success':'alert-danger' }} alert-icon alert-sm">
            <em class="icon ni {{ status ? 'ni-check-circle':'ni-cross-circle' }}"></em> <strong>{{ status ? 'Success.':'Error!' }}</strong> {{message}}
         </div>
        <div class="nk-block">
            <div class="card card-bordered card-stretch">
                <div class="card-inner-group">
                    <div class="card-inner position-relative card-tools-toggle">
                        <div class="card-title-group">
                            <div class="card-tools">
                                <div class="form-inline flex-nowrap gx-3">
                                    <div class="form-wrap w-120px">
                                        <select class="form-select" data-search="off" [(ngModel)]="sstatus">
                                            <option value="" selected> Search User </option>
                                            <option value="active">Active</option>
                                            <option value="inactive">InActive</option>
                                        </select>
                                        
                                    </div>
                                    <div class="btn-wrap">
                                        <span class="d-none d-md-block"><button class="btn btn-dim btn-outline-light disabled" (click)="reset_filters()">Reset Filters</button></span>
                                        <span class="d-md-none"><button class="btn btn-dim btn-outline-light btn-sm disabled" (click)="reset_filters()">reset</button></span>
                                    </div>

                                    
                                </div><!-- .form-inline -->
                            </div>


                            <!-- .card-tools -->
                            <div class="card-tools mr-n1">
                                <ul class="btn-toolbar gx-1">
                                    <li>
                                        <a href="javascript:void(0);" class="btn btn-icon search-toggle toggle-search" (click)="show_global_serach()" data-target="search" ><em class="icon ni ni-search"></em></a>
                                    </li><!-- li -->
                                    <li class="btn-toolbar-sep"></li><!-- li -->
                                    <li>
                                        <div class="toggle-wrap">
                                            <a href="javascript:void(0);"  class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-menu-right"></em></a>
                                            <div class="toggle-content content content-active" data-content="cardTools">
                                                <ul class="btn-toolbar gx-1">
                                                    <li class="toggle-close">
                                                        <a href="javascript:void(0);" class="btn btn-icon btn-trigger toggle" data-target="cardTools"><em class="icon ni ni-arrow-left"></em></a>
                                                    </li><!-- li -->
                                                    <li>
                                                        <div class="dropdown">
                                                            <a href="javascript:void(0);" (click)="show_more_filters()" class="btn btn-trigger btn-icon ">
                                                                <div class="dot dot-primary"></div>
                                                                <em class="icon ni ni-filter-alt"></em>
                                                            </a>
                                                            <div class="filter-wg dropdown-menu dropdown-menu-xl dropdown-menu-right {{more_filters}}">
                                                                <div class="dropdown-head">
                                                                    <span class="sub-title dropdown-title">Filter Users</span>
                                                                    <div class="dropdown">
                                                                        <a href="javascript:void(0);" (click)="show_more_filters()" class="btn btn-sm btn-icon">
                                                                            <em class="icon ni ni-cross"></em>
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown-body dropdown-body-rg">
                                                                    <div class="row gx-6 gy-3">
                                                                       
                                                                        <div class="col-6">
                                                                            <div class="form-group">
                                                                                <label class="overline-title overline-title-alt">Area</label><br>
                                                                                <select class="form-select form-select-sm" [(ngModel)]="area">
                                                                                    <option value="">Select Area</option>
                                                                                    <option *ngFor="let a of areas" value="{{a.area}}"> {{a.area|titlecase}} </option>
                                                                                  
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-6">
                                                                            <div class="form-group">
                                                                                <label class="overline-title overline-title-alt">Service</label> <br>
                                                                                <select class="form-select form-select-sm" [(ngModel)]="service">
                                                                                    <option value="" selected>Select Service</option>
                                                                                    <option *ngFor="let s of services" value="{{s.service}}"> {{s.service|titlecase}} </option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="col-12">
                                                                            <!-- <div class="form-group">
                                                                                <button type="button" (click)="show_more_filters()" class="btn btn-secondary btn-sm">Close</button>
                                                                            </div> -->
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="dropdown-foot between ">
                                                                    <!-- <a class="clickable" href="javascript:void(0);">Reset Filter</a> -->
                                                                    <a href="javascript:void(0);" class="float-right" (click)="show_more_filters()" >Close Filter</a>
                                                                </div>
                                                            </div><!-- .filter-wg -->
                                                        </div><!-- .dropdown -->
                                                    </li><!-- li -->
                                                    <li>
                                                        <div class="dropdown">
                                                            <a href="javascript:void(0);" class="btn btn-trigger btn-icon dropdown-toggle" data-toggle="dropdown">
                                                                <em class="icon ni ni-setting"></em>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-xs dropdown-menu-right">
                                                                <ul class="link-check">
                                                                    <li><span>Show</span></li>
                                                                    <li *ngFor="let i of number_of_shows"
                                                                         (click)="number_of_row_show(i)"
                                                                        ><a href="javascript:void(0);">{{i}}</a>
                                                                    
                                                                    </li>
                                                                   
                                                                </ul>
                                                               
                                                            </div>
                                                        </div><!-- .dropdown -->
                                                    </li><!-- li -->
                                                </ul><!-- .btn-toolbar -->
                                            </div><!-- .toggle-content -->
                                        </div><!-- .toggle-wrap -->
                                    </li><!-- li -->
                                </ul><!-- .btn-toolbar -->
                            </div>
                            <!-- .card-tools -->

                        </div><!-- .card-title-group -->
                        <div class="card-search search-wrap {{global_serach}}" data-search="search">
                            <div class="card-body">
                                <div class="search-content">
                                    <a href="javascript:void(0);" class="search-back btn btn-icon toggle-search " (click)="show_global_serach()" data-target="search"><em class="icon ni ni-arrow-left"></em></a>
                                    <input type="text"  [(ngModel)]="globalsearch" class="form-control border-transparent form-focus-none" placeholder="Globally Search">
                                    <button class="search-submit btn btn-icon"><em class="icon ni ni-search"></em></button>
                                </div>
                            </div>
                        </div><!-- .card-search -->
                    </div><!-- .card-inner -->
                    <div class="card-inner p-0">
                        <div class="nk-tb-list nk-tb-ulist is-compact">
                            <div class="nk-tb-item nk-tb-head">
                                <div class="nk-tb-col"><span class="sub-text">#Id</span></div>
                                <div class="nk-tb-col"><span class="sub-text">User Name</span></div>
                                <div class="nk-tb-col tb-col-md"><span class="sub-text">Service</span></div>
                                <div class="nk-tb-col tb-col-sm"><span class="sub-text">Email</span></div>
                                <div class="nk-tb-col tb-col-md"><span class="sub-text">Phone</span></div>
                                <div class="nk-tb-col tb-col-lg"><span class="sub-text">Cow milk (ltr)</span></div>
                                <div class="nk-tb-col tb-col-lg"><span class="sub-text">Buffelo milk (ltr)</span></div>
                                <div class="nk-tb-col tb-col-lg"><span class="sub-text">Area</span></div>
                                <div class="nk-tb-col"><span class="sub-text">Status</span></div>
                                <div class="nk-tb-col  text-right">
                                    <span class="sub-text">Action</span>
                                    
                                </div>
                            </div>


                            <div class="nk-tb-item" *ngFor="let record of records | filter:globalsearch | area:area | service: service | sstatus : sstatus | paginate: { itemsPerPage: entries, currentPage: p};  let i= index">
                                <div class="nk-tb-col nk-tb-col-check">
                                    <span>{{(entries * (p-1) + i)+1}}</span>
                                </div>
                                <div class="nk-tb-col">
                                    <div class="user-card">
                                        <div class="user-avatar xs "[class]="i | color">
                                            <span>{{record.first_name|titlecase|slice:0:1}}{{record.last_name|titlecase|slice:0:1}}</span>
                                        </div>
                                        <div class="user-name">
                                            <span class="tb-lead">{{record.first_name|titlecase}} {{record.last_name|titlecase}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="nk-tb-col tb-col-md">
                                    <span>{{record.service}}</span>
                                </div>
                                <div class="nk-tb-col tb-col-sm">
                                    <span [ngClass]="record.email ? '' : 'tb-lead'" >{{record.email ? record.email : 'No Email'}}</span>
                                </div>
                                <div class="nk-tb-col tb-col-md">
                                    <span [ngClass]="record.mobile ? '' : 'tb-lead'">{{record.mobile ? record.mobile : 'No Mobile'}}</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    <!-- <span>{{record.cow_milk | mltoltr}} Ltr</span> -->
                                    <span>{{record.is_cow == 0 ? ' - ' :( record.cow_milk|mltoltr) +' Ltr'}}</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    <!-- <span>{{record.buffelo_milk | mltoltr}} Ltr</span> -->

                                    <span>{{record.is_buffelo == 0 ? ' - ' :( record.buffelo_milk|mltoltr) +' Ltr'}}</span>
                                </div>
                                <div class="nk-tb-col tb-col-lg">
                                    <span>{{record.area|titlecase}}</span>
                                </div>
                                <div class="nk-tb-col">
                                    <span class="badge badge-dot badge-dot-xs badge-success" *ngIf="record.is_status=='active'">{{record.is_status|titlecase}}</span>
                                    <span class="badge badge-dot badge-dot-xs badge-danger" *ngIf="record.is_status=='inactive'">{{record.is_status|titlecase}}</span>
                                </div>
                                <div class="nk-tb-col nk-tb-col-tools">
                                    <ul class="nk-tb-actions gx-2">
                                        <li class="nk-tb-action-hidden">
                                            <a href="javascript:void(0);" class="btn btn-sm btn-icon btn-trigger" data-toggle="tooltip" data-placement="top" title="Wallet">
                                                <em class="icon ni ni-wallet-fill"></em>
                                            </a>
                                        </li>
                                        <li class="nk-tb-action-hidden">
                                            <a href="javascript:void(0);" class="btn btn-sm btn-icon btn-trigger" data-toggle="tooltip" data-placement="top" title="Send Email">
                                                <em class="icon ni ni-mail-fill"></em>
                                            </a>
                                        </li>
                                        <li class="nk-tb-action-hidden">
                                            <a href="javascript:void(0);" class="btn btn-sm btn-icon btn-trigger" data-toggle="tooltip" data-placement="top" title="Suspend">
                                                <em class="icon ni ni-user-cross-fill"></em>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="drodown">
                                                <a href="javascript:void(0);" class="btn btn-sm btn-icon btn-trigger dropdown-toggle" data-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="link-list-opt no-bdr">
                                                        <li><a routerLink="/user/edituser/{{record.id}}"><em class="icon ni ni-edit"></em><span>Edit</span></a></li>
                                                        <li><a routerLink="/user/viewuser/{{record.id}}" [queryParams]="{ is_view: true }"><em class="icon ni ni-eye"></em><span>View</span></a></li>
                                                        <li><a href="javascript:;" (click)="pass_ser_id(record.id)" data-toggle="modal" data-target="#modalSmall" ><em class="icon ni ni-trash"></em><span>Delete</span></a></li>
                                                        
                                                        <li class="divider"></li>
                                                        <li><a href="javascript:void(0);"><em class="icon ni ni-shield-star"></em><span>Reset Pass</span></a></li>
                                                        <li><a href="javascript:void(0);"><em class="icon ni ni-shield-off"></em><span>Reset 2FA</span></a></li>
                                                        <li><a href="javascript:void(0);"><em class="icon ni ni-na"></em><span>Suspend User</span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                          
                        </div>

                        <div class="p-4" *ngIf="records.length==0">
                            <div class="text-center">
                                <span ><a href="#">{{recordnotfound}}</a></span>
                            </div>
                        </div>
                    </div><!-- .card-inner -->
                    <div class="card-inner">
                        <ul class="pagination justify-content-center justify-content-md-start">
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">Prev</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">1</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
                            <li class="page-item"><span class="page-link"><em class="icon ni ni-more-h"></em></span></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">6</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">7</a></li>
                            <li class="page-item"><a class="page-link" href="javascript:void(0);">Next</a></li>
                        </ul><!-- .pagination -->
                        <div class="paginator">
                            <pagination-controls (pageChange)="p = $event" class="pagination my-pagination"></pagination-controls>  

                        </div>
                    </div><!-- .card-inner -->
                </div><!-- .card-inner-group -->
            </div><!-- .card -->
        </div><!-- .nk-block -->
    </div>
</div>

      

<div class="modal fade show" tabindex="-1"  id="modalSmall" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        
            <div class="modal-body text-center">
                <div>
                    <em class="nk-modal-icon  icon-circle-xxl ni ni-alert-circle text-danger" style="font-size: 80px;"></em>
                    <h4 class="nk-modal-title">Are you sure?</h4>
                    <p class="lead" style="font-size: 15px;">Are you sure you want to delete this record ?</p>

                    <div class="nk-modal-action mt-3">
                        <a href="javascript:void(0)" class="btn btn-round btn-sm btn-light mr-1" data-dismiss="modal" #closeBtn>Cancel</a>
                        <a href="javascript:void(0)" class="btn btn-round btn-sm btn-danger ml-1" (click)="delete_user()">Yes, Delete it</a>
                    </div>
                  
                </div>
            </div>
           
        </div>
    </div>
</div>